/* Profile Container */
.profile-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 var(--spacing-sm);
    position: relative;
}

/* Account Info Container */
.account-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 0;
    margin-top: 0;
}

/* Wrapper for tabs and tab content to occupy same space */
.account-tabs-wrapper {
    width: 95%;
    align-self: center;
}