/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Arabic", sans-serif;


    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: none !important;
}

html {
    /* Completely disable scroll down - prevent lag on mobile */
    overflow: hidden;
    height: 100%;
    /* Prevent touch scrolling */
    touch-action: none;
    -webkit-overflow-scrolling: none;
}

body {
    /* background-color: #f5f5f5; */
    background-color: #e8e8e8;
    color: #333;
    line-height: 1.6;
    padding-bottom: 80px;
    direction: rtl;
    /* Completely disable scroll down - prevent lag on mobile */
    overflow: hidden;
    height: 100%;
    /* Prevent touch scrolling on body */
    touch-action: none;
    -webkit-overflow-scrolling: none;
}