/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Arabic", sans-serif;


    /* Disable text selection */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    /* background-color: #f5f5f5; */
    background-color: #e8e8e8;
    color: #333;
    line-height: 1.6;
    padding-bottom: 80px;
    direction: rtl;
    min-height: 110vh;
}